.home-container {
    display: flex;
    height: 100vh;
  }
  
  .left-panel {
    width: 250px;
    background-color: #f4f4f4;
    padding: 20px;
  }
  
  .main-content {
    flex: 1;
    padding: 20px;
    overflow-y: auto;
  }
  
  .search-bar input {
    width: 100%;
    max-width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .plus-button {
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
  }
  
  .projects-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5%; /* Space between cards */
    margin-top: 20px;
  }
  
  .project-card {
    width: 100%;
    height: 40vh; /* Adjust height */
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
  }
  
  .project-thumbnail {
    width: 100%;
    height: 70%;
    object-fit: cover;
  }
  
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    width: 400px;
    display: flex;
    flex-direction: column;
  }
  
  .modal-content input {
    margin: 10px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  